<div id="sideBar">
    <button class="sideBarButtons"> Dashboard </button>
    <button class="sideBarButtons"> News Feed </button>
    <button class="sideBarButtons"> Company Page </button>
    <button class="sideBarButtons"> Teams </button>
    <button class="sideBarButtons">My Profile </button>
</div>
