<div id="sideBar">
    <button id="dashboardButton" class="sideBarButtons" value="dashboard"> Dashboard </button>
    <button id="newsFeedButton" class="sideBarButtons" value="newsFeed"> News Feed </button>
    <button id="companyPageButton" class="sideBarButtons" value="companyPage"> Company Page </button>
    <button id="teamsButton" class="sideBarButtons" value="teams"> Teams </button>
    <button id="myProfileButton" class="sideBarButtons" value="myProfile">My Profile </button>
</div>
