

<div id="topNavigationBar">

  <img src="dropdown.png" id="dropDownButton" />
  <img src="logo.png" id="topLogo" />

  <div id="userProfileSection">
    <img src="Bob_Jengals.jpg" class="userInfo" id="userPhoto" />
    <h3 id="userNameTopRight" class="userInfo"> Bob Jengals </h3>
    <img src="userArrow.png" class="userInfo" id ="userArrow" />
    <p id="userStatus"> Active </p>
    </div>


<div>
