<html>

  <%- include('./partials/head.ejs') %>

  <body>
    <header>
      <%- include('./partials/topNavigationBar.ejs') %>

      <link rel="stylesheet" type="text/css" href="/dashboardstyles.css">
    </header>

    <aside>
      <%- include('./partials/sideBar.ejs') %>
    </aside>

    <main id="mainContent">

      <div id="headerArea">
      <h1> Dashboard </h1>
      <div>

      <div id="row1Container">



          <div id="linksAndResources">

            <div id="linksAndResourcesTitleSection">
              <h3 id="linksAndResourcesTitle"> Links and Resources </h3>
              <hr id="linksAndResourcesTitleLine">
            </div>

            <div class="resourceButtons topRowResources">
              <button> <img src="userArrow.png" id="myProfile" /></button>
              <p class="resourceButtonText"> My Profile </p>
            </div>

            <div class="resourceButtons topRowResources">
              <button> <img src="userArrow.png" id="myProfile" /></button>
              <p class="resourceButtonText"> My Profile </p>
            </div>

            <div class="resourceButtons topRowResources">
              <button> <img src="userArrow.png" id="myProfile" /></button>
              <p class="resourceButtonText"> My Profile </p>
            </div>

            <div class="resourceButtons bottomRowResources">
              <button> <img src="userArrow.png" id="myProfile" /></button>
              <p class="resourceButtonText"> My Profile </p>
            </div>

            <div class="resourceButtons bottomRowResources">
              <button> <img src="userArrow.png" id="myProfile" /></button>
              <p class="resourceButtonText"> My Profile </p>
            </div>

            <div class="resourceButtons bottomRowResources">
              <button> <img src="userArrow.png" id="myProfile" /></button>
              <p class="resourceButtonText"> My Profile </p>
            </div>

          </div>


        <div id="news">
          <div id="newsImageContainer">
            <div id="newsTitleSection">
              <h3 id="newsTitle"> Corporate News </h3>
            </div>
            <img id="news1Image" class="newsImages" src="news1.jpg" width="350px">
            <img id="news2Image" class="newsImages" src="news2.jpg" width="350px">
            <img id="news3Image" class="newsImages" src="news3.jpg" width="350px">

            <div id="newsGalleryFunctionality">
              <h3 id="newsTitle"> <a href="#"> Welcome George to the team! </a></h3>
              <address id="newsAuthor"> By Brian Driscoll </address>
              <p id="newsViewCount"> 10 Views </p>


              <img id="newsButton3" class="newsButtons" src="plainCircle.png" width="30px">
              <img id="newsButton2" class="newsButtons" src="plainCircle.png" width="30px">
              <img id="newsButton1" class="newsButtons" src="plainCircle.png" width="30px">
            </div>

          </div>
        </div>

      </div>
    </main>

  <script src="app.js"></script>
  <script src="dashboard.js"></script>
  </body>

</html>
