<html>

  <%- include('./partials/head.ejs') %>

  <body>
    <header>
      <%- include('./partials/topNavigationBar.ejs') %>
      <link rel="stylesheet" type="text/css" href="/dashboardstyles.css">
    </header>

    <aside>
      <%- include('./partials/sideBar.ejs') %>
    </aside>

    <main id="mainContent">

      <div id="headerArea">
      <h1> Dashboard </h1>
      <div>

      <div id="row1Container">



          <div id="linksAndResources">

            <div id="linksAndResourcesTitleSection">
              <h3 id="linksAndResourcesTitle"> Links and Resources </h3>
              <hr id="linksAndResourcesTitleLine">
            </div>

            <div class="resourceButtons topRowResources">
              <button> <img src="userArrow.png" id="myProfile" /></button>
              <p class="resourceButtonText"> My Profile </p>
            </div>

            <div class="resourceButtons topRowResources">
              <button> <img src="userArrow.png" id="myProfile" /></button>
              <p class="resourceButtonText"> My Profile </p>
            </div>

            <div class="resourceButtons topRowResources">
              <button> <img src="userArrow.png" id="myProfile" /></button>
              <p class="resourceButtonText"> My Profile </p>
            </div>

            <div class="resourceButtons bottomRowResources">
              <button> <img src="userArrow.png" id="myProfile" /></button>
              <p class="resourceButtonText"> My Profile </p>
            </div>

            <div class="resourceButtons bottomRowResources">
              <button> <img src="userArrow.png" id="myProfile" /></button>
              <p class="resourceButtonText"> My Profile </p>
            </div>

            <div class="resourceButtons bottomRowResources">
              <button> <img src="userArrow.png" id="myProfile" /></button>
              <p class="resourceButtonText"> My Profile </p>
            </div>

          </div>


        <div id="news">
          <div id="newsImageContainer">
            <img id="news1Image" src="news1.jpg" style="width:400px;">
            
          </div>
        </div>

      </div>
    </main>

  <script src="app.js"></script>
  </body>

</html>
