<html>

  <%- include('./partials/head.ejs') %>

  <body>
    <header>
      <%- include('./partials/topNavigationBar.ejs') %>

      <link rel="stylesheet" type="text/css" href="/dashboardstyles.css">
    </header>

    <aside>
      <%- include('./partials/sideBar.ejs') %>
    </aside>

    <main id="mainContent">

      <div id="headerArea">
      <h1> Dashboard </h1>
      <div>

      <section id="row1Container">



          <div id="linksAndResources">

            <div id="linksAndResourcesTitleSection">
              <h3 id="linksAndResourcesTitle"> Links and Resources </h3>
              <hr id="linksAndResourcesTitleLine">
            </div>

            <div class="resourceButtons topRowResources">
              <button> <img src="userArrow.png" id="myProfile" /></button>
              <p class="resourceButtonText"> My Profile </p>
            </div>

            <div class="resourceButtons topRowResources">
              <button> <img src="userArrow.png" id="myProfile" /></button>
              <p class="resourceButtonText"> My Profile </p>
            </div>

            <div class="resourceButtons topRowResources">
              <button> <img src="userArrow.png" id="myProfile" /></button>
              <p class="resourceButtonText"> My Profile </p>
            </div>

            <div class="resourceButtons bottomRowResources">
              <button> <img src="userArrow.png" id="myProfile" /></button>
              <p class="resourceButtonText"> My Profile </p>
            </div>

            <div class="resourceButtons bottomRowResources">
              <button> <img src="userArrow.png" id="myProfile" /></button>
              <p class="resourceButtonText"> My Profile </p>
            </div>

            <div class="resourceButtons bottomRowResources">
              <button> <img src="userArrow.png" id="myProfile" /></button>
              <p class="resourceButtonText"> My Profile </p>
            </div>

          </div>


        <div id="news">

          <div id="newsImageContainer">

            <div id="newsTitleSection">
              <h3 id="newsTitle"> Corporate News </h3>
            </div>
            <img id="news3Image" class="newsImages" src="importantMeeting.jpg" width="350px">
            <img id="news2Image" class="newsImages" src="kidsDay.jpg" width="350px">
            <img id="news1Image" class="newsImages" src="meetGeorge.jpg" width="350px">

            <div id="newsGalleryFunctionality">
              <h3 id="currentNewsTitle" id="newsTitle"> <a href="#"> Welcome George to the Team! </a></h3>
              <address id="newsAuthor"> By Brian Driscoll </address>
              <p id="newsViewCount"> 10 Views </p>


              <img id="newsButton3" class="newsButtons" src="plainCircle.png" width="30px">
              <img id="newsButton2" class="newsButtons" src="plainCircle.png" width="30px">
              <img id="newsButton1" class="newsButtons" src="plainCircle.png" width="30px">

            </div>
          </div>

        </div>

      </section>

      <sectio id="row2Container">

        <div id="socialMediaPane">

          <div id="socialMediaTitleSection">
            <h3 id="socialMediaTitle"> Social Media Links </h3>
          </div>

          <a href="#"><img src="facebook.png" class="socialIcons" alt="Facebook icon" width="64" height="64"></a>
          <a href="#"><img src="linkedin.png" class="socialIcons" alt="Linkedin icon" width="64" height="64"></a>
          <a href="#"><img src="twitter.png" class="socialIcons" alt="Twitter icon" width="64" height="64"></a>
          <a href="#"><img src="youtube.png" class="socialIcons" alt="YouTube icon" width="64" height="64"></a>

        </div>

        <div id="teamsPane">
          <div id="teamsTitleSection">
            <h3 id="teamsTitle"> Teams </h3>
          </div>

          <!-- <div id="teamEntry1" class="teamEntries">
            <img class="teamPortraits" src="Daria_Matthews.jpg" height="60" width="60">
            <div class="textTeamEntries">
              <h4> Finished Working on HTML </h4>
              <a class="teamAuthor" href="#"> <address> Joe Scarlett 7/18/20 1:15 PM</address> </a>
            </div>
          </div>
          <hr>

          <div id="teamEntry2" class="teamEntries">
            <img class="teamPortraits" src="Bob_Jengals.jpg" height="60" width="60">
            <div class="textTeamEntries">
              <h4> Created the Text for Main Page </h4>
              <a class="teamAuthor" href="#"> <address> Joe Scarlett 7/18/20 1:15 PM</address> </a>
            </div>
          </div>
          <hr>

          <div id="teamEntry3" class="teamEntries">
            <img class="teamPortraits" src="Nicole_Robinson.jpg" height="60" width="60">
            <div class="textTeamEntries">
              <h4> Team Meeting on Thursday </h4>
              <a class="teamAuthor" href="#"> <address> Joe Scarlett 7/18/20 1:15 PM</address> </a>
            </div>
          </div>
          <hr>

          <div id="teamEntry4" class="teamEntries">
            <img class="teamPortraits" src="Gregor_Eisenhorn.jpg" height="60" width="60">
            <div class="textTeamEntries">
              <h4> Developer Walks Into a Bar...</h4>
              <a class="teamAuthor" href="#"> <address> Joe Scarlett 7/18/20 1:15 PM</address> </a>
            </div>
          </div> -->

        </div>

        <div id="questionsPane">
          <p> hi </p>
        </div>



      </section>
    </main>

  <script src="app.js"></script>
  <script src="dashboard.js"></script>
  </body>

</html>
