<html>

  <%- include('./partials/head.ejs') %>

  <body>
    <header>
      <%- include('./partials/topNavigationBar.ejs') %>
    </header>

    <aside>
      <%- include('./partials/sideBar.ejs') %>
    </aside>

    <main id="mainContent">

      <h1> Dashboard </h1>

      <div id="row1">
        <div id="linksAndResources">
          <button> <img src="userArrow.png" class="topRowResources" id="myProfile" /></button>
          <p> My Profile </p>

          <button> <img src="userArrow.png" class="topRowResources" id="myProfile" /></button>
          <p> My Profile </p>

          <button> <img src="userArrow.png" class="topRowResources" id="myProfile" /></button>
          <p> My Profile </p>

          <button> <img src="userArrow.png" class="bottomRowResources" id="myProfile" /></button>
          <p> My Profile </p>

          <button> <img src="userArrow.png" class="bottomRowResources" id="myProfile" /></button>
          <p> My Profile </p>

          <button> <img src="userArrow.png" class="bottomRowResources" id="myProfile" /></button>
          <p> My Profile </p>

        </div>


        <div id="news">
        </div>

      </div>
    </main>

  <script src="app.js"></script>
  </body>

</html>
