<html>

  <%- include('./partials/head.ejs') %>

  <body>
    <header>
      <%- include('./partials/topNavigationBar.ejs') %>
    </header>

    <aside>
    </aside>

    <main>
      <h1> Intranet </h1>
      
    </main>

  </body>

</html>
