<html>

  <%- include('./partials/head.ejs') %>

  <body>
    <header>
      <%- include('./partials/topNavigationBar.ejs') %>
    </header>

    <aside>
      <%- include('./partials/sideBar.ejs') %>
    </aside>

    <main id="mainContent">

      <h1> Teams </h1>
    </main>

  <script src="app.js"></script>
  </body>

</html>
