p, h1, h3, a {
  font-family: Lucida Sans Unicode;
}

a {
  color: white;

}

hr {
  color: black;
}


/*links and resource section */

#row1Container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
}

#linksAndResources {
  display: flex;
  border: 1px solid #F2F2F2;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 60%;
  height: 400px;
  background-color: #F6F6F6;
}

#linksAndResourcesTitleSection {
  flex-basis: 100%;
  background-color: #062b48;
  height: 33px;
}

#linksAndResourcesTitle {
  flex-basis: 100%;
  padding-left: 20px;
  text-align: center;
  position: relative;
  color: white;
  bottom: 13px;
}

#linksAndResourcesTitleLine {
  position: relative;
  flex-basis: 100%;
  bottom: 25px;
}

#linksAndResources.img {
  margin-left: 300px;
  margin-right: 300px;
}

.resourceButtons {
  padding-left: 50px;
  padding-right: 50px;

}

.resourceButtonText {
  float: right;
  padding-left: 10px;
  padding-top: 5px;
}

.topRowResources {
  margin-top: 15px;
}

.bottomRowResources {
  margin-top: 15px;
  margin-bottom: 10px;
}

#myProfile {
  width: 50px;
}

/* News Gallery */

#news {
  width: 30%;
  margin-left: 50px;
  display: flex;
  justify-content: center;
}

#newsTitleSection {
  background-color: #062b48;
  height: 33px;
  position: relative;
  bottom: 19px;
}

#newsTitle {
  color: white;
  position: relative;
  top: 5px;
}

#news3Image {
  position: relative;
  bottom: 19px;
  left: 0;
}

.newsImages {
  object-fit: cover;
}

#news2Image {
  position: relative;
  bottom: 252px;
}

#news1Image {
  position: relative;
  bottom: 485px;
}

#newsImageContainer {
  height: 400px;
  width: 350px;
  text-align: center;
  position: relative;
  background-color: #fcb71b;
  border: 1px solid #F2F2F2;
}

#newsGalleryFunctionality {
  position: relative;
  bottom: 500px;
  left: 10px;
  text-align: left;
}

#newsAuthor {
  position: relative;
  bottom: 5px;
  color: white;
}

#newsViewCount {
  float: right;
  position: relative;
  bottom: 38px;
  right: 22px;
  color: white;
}

.newsButtons {
  position: relative;
  left: 115px;
  top: 30px;
}

/* Social Media pane */

#row2Container {
  display: flex;
  flex-direction: row;
  margin-left: 33px;
  margin-top: 33px;
  margin-bottom: 100px;
}

#socialMediaPane {
  background-color: #F6F6F6;
  width: 28%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid #F2F2F2;
  height: 150px;
}

#socialMediaTitleSection {
  flex-basis: 100%;
  background-color: #062b48;
  display: flex;
  justify-content: center;
  height: 33px;
}

#socialMediaTitle {
  position: relative;
  bottom: 12px;
  color: white;

}

.socialIcons {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Teams pane */

#teamsPane {
  background-color: #F6F6F6;
  width: 23.8%;
  position: relative;
  left: 9.5%;
  border: 1px solid #F2F2F2;
}

#teamsTitleSection {
    flex-basis: 100%;
    background-color: #062b48;
    display: flex;
    justify-content: center;
    height: 33px;
}

#teamsTitle {
  position: relative;
  bottom: 12px;
  color: white;
}

.teamEntries {
  margin-left: 15px;
  padding-top: 10px;
}

#teamEntry1 {
  padding-top: 10px;
}

#teamEntry2 {
  margin-top: -5px;
}

#teamEntry3 {
  margin-top: -5px;
}

#teamEntry4 {
  margin-top: -5px;
  margin-bottom: -5px;
}

.teamPortraits {
  border-radius: 100px;
}

.textTeamEntries {
  float: right;
  position: relative;
  bottom: 23px;
  right: 30px;
}

.teamAuthor {
  color: black;
}


/* Questions pane */

#questionsPane {
  background-color: #F6F6F6;
  width: 350px;
  position: relative;
  left: 18.54%;
  border: 1px solid #F2F2F2;
